<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title><%= htmlWebpackPlugin.options.title%></title>
  </head>
  <body>
    <div class="code">
      <div>
        <textarea id="code"></textarea>
      </div>
      <div>
        <textarea id="html"></textarea>
      </div>
    </div>
    <div class="output">
      <!--
      <div>
        Show content using a
        <label><input id="useDataUrl" type="radio" checked>data:</label>
        <label><input id="useBlobUrl" type="radio">blob:</label>
        url
      </div>
      -->
      <div>
        <iframe id="result"></iframe>
      </div>
      <div class="output">
        <div><code><pre  id="js-output"></pre></code></div>
        <div><code><pre  id="html-output"></pre></code></div>
      </div>
    </div>
  </body>
</html>
